In [1]:
import pandas as pd
import os

In [2]:
dataset_directory = "Falls"
two_classes_directory = "time_window_data"
data_directory = "data"
path = os.path.join(data_directory, two_classes_directory)

In [3]:
# entities_imported = pd.read_csv(path + "/entities_info_windows.csv")
raw_data_imported = pd.read_csv(path + "/hogo_data_windows.csv")
properties_imported = pd.read_csv(path + "/fall_properties.csv")

result_entities = pd.read_csv('test/Entities.csv')
# result_raw_data = pd.read_csv('test/Falls-1000-TwoClass-Unbalanced.csv')

In [4]:
dataset_directory = "Falls"
two_classes_directory = "time_window_data"
data_directory = "data"
path = os.path.join(dataset_directory, "entities.csv")
our_entities = pd.read_csv(path)
our_entities

        id  Gender  AgeRange  Score  Class
0   277850    Male        85      1      0
1   279521  Female        95      1      0
2   280679    Male        95      1      0
3   310411  Female       100      1      0
4   310773  Female        85      0      0
..     ...     ...       ...    ...    ...
95    6851  Female        90      0      1
96    7536  Female        80      0      1
97    7927    Male        80      0      1
98    8458  Female        85      0      1
99    8497  Female        80      0      1

[100 rows x 5 columns]

In [5]:
path = os.path.join(dataset_directory, "raw_data.csv")
our_raw_data = pd.read_csv(path)
our_raw_data

       EntityID  TemporalPropertyID  TimeStamp  TemporalPropertyValue
0           687                  49          0                   13.9
1           687                  56          0                   12.0
2           687                  59          0                    2.0
3           687                  62          0                    9.0
4           687                  63          0                    3.0
...         ...                 ...        ...                    ...
28839    369584                  -1          0                    0.0
28840    369781                  -1          0                    0.0
28841    371034                  -1          0                    0.0
28842    371351                  -1          0                    0.0
28843    371473                  -1          0                    0.0

[28844 rows x 4 columns]

In [6]:
entities_ids_list = our_entities['id'].drop_duplicates().to_list()
raw_data_entities = our_raw_data['EntityID'].drop_duplicates().to_list()
for e in entities_ids_list:
    if e not in raw_data_entities:
        print("imale!")

In [14]:
entitiesIds = raw_data_imported["EntityID"].unique()
len(entitiesIds)

raw_data = raw_data_imported[["TemporalPropertyID", "TemporalPropertyValue"]]
raw_data = raw_data[raw_data["TemporalPropertyID"] == -1]
raw_data.groupby("TemporalPropertyValue").count()

properties_ids = raw_data_imported["TemporalPropertyID"].unique()
len(properties_ids)

77

In [17]:
# len(properties_imported["tpid"].unique())
properties = properties_imported[["tpid", "meaning"]]
named_properties = properties.drop_duplicates().dropna()
# len(named_properties)
unnamed_properties = set(properties_ids).difference(set(named_properties["tpid"]))
# len(set(properties_ids).difference(unnamed_properties))
len(unnamed_properties)

47

In [23]:
# raw_data_entities = raw_data_imported["EntityID"].unique()
entities_entities = entities_imported["PersonID"].unique()
len(entities_entities)
11986
# set(raw_data_entities).issubset(set(entities_entities))

11986

In [24]:
101818 / 11986

8.49474386784582